{
    "presets": [ "env", "react" ],
    "plugins": [
        ["babel-plugin-module-resolver", { "alias": { "app": "./src" } }],
        ["transform-object-rest-spread", { "useBuiltIns": true }],
        "transform-class-properties"
    ]
}
