{
    "presets": [ "env", "react", "flow" ],
    "plugins": [
        ["babel-plugin-module-resolver", { "root": [ "./src" ] }],
        ["transform-object-rest-spread", { "useBuiltIns": true }],
        "transform-class-properties",
        "babel-plugin-styled-components"
    ]
}
