{
    "extends": [
        "airbnb",
        "plugin:jest/recommended",
        "prettier",
        "prettier/react"
    ],
    "parser": "babel-eslint",
    "env": {
        "browser": 1,
        "jest": 1
    },
    "plugins": ["prettier", "jest", "json"],
    "rules": {
        "import/no-extraneous-dependencies": 0,
        "import/no-unresolved": 0,
        "import/extensions": 0,
        "no-unused-expressions": ["error", {
            "allowShortCircuit": false,
            "allowTernary": false,
            "allowTaggedTemplates": true
        }],

        "no-use-before-define": 0,
        "react/sort-comp": [2, {
            "order": [
                "static-methods",
                "lifecycle",
                "render",
                "everything-else"
            ]
        }]
    }
}
